<div class="flex scroll-pt-96 mt-1">
  <div class="flex-none w-14 ...">
    01
  </div>
  <div class="flex-initial w-64 ...">
    <p class="text-gray-200 underline">02</p>
  </div>
  <div class="flex-initial w-32 ...">
    <p class="underline decoration-wavy">03029234</p>
  </div>
</div>

<div class="d-flex justify-content-around">
  <p>1</p>
  <p>2</p>
  <p>3</p>
</div>

<div class="d-flex justify-content-center">
  <button class="btn btn-default ring-2 ring-blue-500/[.55]">
    Create account
  </button>

  <button class="shadow-inner ml-9 ring-2 ring-offset-4 ring-offset-slate-50 dark:ring-offset-slate-900 btn btn-default">
    Save Changes
  </button>
</div>

<svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6 cursor-wait">
  <path stroke-linecap="round" stroke-linejoin="round" d="m11.25 9-3 3m0 0 3 3m-3-3h7.5M21 12a9 9 0 1 1-18 0 9 9 0 0 1 18 0Z" />
</svg>

<div class="row">
  <div class="col-4"></div>
  <div class="col-4">
    <p-card header="Title">
      <p class="m-0">
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Inventore sed consequuntur error repudiandae numquam deserunt quisquam repellat libero asperiores earum nam nobis, culpa ratione quam perferendis esse, cupiditate neque
        quas!
      </p>
    </p-card>
  </div>
  <div class="col-4"></div>
</div>




<div class="d-flex justify-content-center mt-5">
  <p-dropdown [options]="cities" [(ngModel)]="selectedCity" optionLabel="name" [showClear]="true" placeholder="Select a City"></p-dropdown>
</div>

<div class="d-flex justify-content-center mt-5">
  <p-dropdown [options]="cities" [(ngModel)]="selectedCity" optionLabel="name" [showClear]="true" placeholder="Select a City" class="custom-dropdown"></p-dropdown>
</div>


<!-- my-component.component.html -->
<div class="d-flex justify-content-center mt-72 mb-3.5">
  <p-dropdown [options]="cities" [(ngModel)]="selectedCity" optionLabel="name" [showClear]="true" placeholder="Select a City"></p-dropdown>
</div>

<div class="d-flex justify-content-center">
  <p-knob [(ngModel)]="value"></p-knob>
</div>

<div class="d-flex justify-content-center">
  <p-multiSelect [options]="cities" [(ngModel)]="selectedCities" optionLabel="name"></p-multiSelect>
</div>

<p-dropdown [options]="cities" [(ngModel)]="selectedCities"></p-dropdown>

<form [formGroup]="formGroup">
  <p-multiSelect [options]="cities" formControlName="selectedCities" optionLabel="name" placeholder="Select Cities"></p-multiSelect>
</form>
