.custom-dropdown .p-dropdown-trigger {
  border: 1px solid #ccc !important; /* Gray border */
  border-radius: 5px !important; /* Optional: Add border radius for rounded corners */
}


.ui-autocomplete-dd .ui-autocomplete-dropdown.ui-corner-all{
  position:absolute;
  transform: translateX(-100%);
}

.ui-autocomplete{
  width: 100% !important;
}
.ui-autocomplete-input{
  width: 100% !important;
}

::ng-deep p-dropdown ul {
  padding-left: 0;
}
